<section class="text-center" style="background:rgba(255, 255, 255, 0.5);">
    
    <main class="form-signin py-5">
    <form>
        <img class="mb-4" src="../../../../assets/images/logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Create New Account</h1>
    
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label for="floatingEmail">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingUserName" placeholder="Username">
            <label for="floatingUserName">Username</label>
          </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword1" placeholder="Set Password">
          <label for="floatingPassword1">Set Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword2" placeholder="Confirm Password">
            <label for="floatingPassword2">Confirm Password</label>
          </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Accept Terms and Conditions
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
    </section>