<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/403-forbidden.png" style="height:300px;width:300px;">

                </div>
                <div class="card-content">
                    <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
                    <p>You don't have the permission to access this resource.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" style="padding-top:100px ; padding-bottom:40px ">
    <div class="card">
        <div class=" align-self-center">
            <img src="/assets/images/403-forbidden.png" style="height:300px;width:300px;">
        </div>
        <div  class="align-self-center">
            <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
                    <p>You don't have the permission to access this resource.</p>
        </div>
    </div>
</div>