
<div class="container"> 
     <form class="d-flex p-5"><input class="my-5 form-control me-2" type="search" placeholder="Search For a Book"
                    aria-label="Search"><button class="my-5 btn btn-outline-success" type="submit">Search</button></form>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
    
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
    </div>
</div>


