
<div class="container py-5">
  <div class="card">
    <div class="bd-example">
        <table class="table table-dark table-hover">
            <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>101</td>
            <td>jt@abc.com</td>
            <td>Jithin</td>
            <td>p12345</td>
            <td>
                <label class="switch">
                    <input type="checkbox" (click)="handleClickMe($event)">
                    <span class="slider round"></span>
                  </label>
            </td>
        </tr>
        <tr>
            <td>102</td>
            <td>bs@abc.com</td>
            <td>Basith</td>
            <td>p88746</td>
            <td>
                <label class="switch">
                    <input type="checkbox" (click)="handleClickMe($event)">
                    <span class="slider round"></span>
                  </label>
            </td>
        </tr>
        
        <tr>
            <td>103</td>
            <td>ar@abc.com</td>
            <td>Arshad</td>
            <td>p65846</td>
            <td>
                <label class="switch">
                    <input type="checkbox" (click)="handleClickMe($event)">
                    <span class="slider round"></span>
                  </label>
            </td>
        </tr>
        </tbody>
    
        </table>
    </div>
    </div>
    </div>
