<div class="container py-5">
    <div class="card">
            <table class="table table-dark table-hover">
                <thead style="position: sticky;">
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td>{{user.userId}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.title}}</td>
                        <td>
                            <label class="switch"> 
                                <input type="checkbox" [checked]=user.completed>
                                 <span class="slider round"></span>
                             </label>

                            
                        </td>
                    </tr>
                </tbody>
                    <!-- <tr>
            <td>102</td>
            <td>bs@abc.com</td>
            <td>Basith</td>
            <td>p88746</td>
            <td>
                <label class="switch">
                    <input type="checkbox" (click)="handleClickMe($event)">
                    <span class="slider round"></span>
                  </label>
            </td>
        </tr>
        
        <tr>
            <td>103</td>
            <td>ar@abc.com</td>
            <td>Arshad</td>
            <td>p65846</td>
            <td>
                <label class="switch">
                    <input type="checkbox" (click)="handleClickMe($event)">
                    <span class="slider round"></span>
                  </label>
            </td>
        </tr> -->
                

            </table>
        </div>
</div>