<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link active"  [routerLinkActiveOptions]="{exact: true}" aria-current="page" routerLinkActive="active" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/books">Books</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/book-details">Book Details</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/cart">Cart</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/checkout">Checkout</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/confirm">Confirm</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/signup">Signup</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/reset-password">Reset Password</a></li>
    <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li> -->


    <!-- dark dropdown -->
    <!-- <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow" style="width: 220px;">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul> -->

</ul>