<ul class="navbar-nav me-auto mb-2 mb-lg-0" >
    <li class="nav-item"><a class="nav-link active"  [routerLinkActiveOptions]="{exact: true}" aria-current="page" routerLinkActive="active" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/books">Books</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/book-details">Book Details</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/checkout">Checkout</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/confirm">Confirm</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/signup">Signup</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/reset-password">Reset Password</a></li>

</ul>
