<body class="gradient-custom">
<section class="text-center" style="background:rgba(255, 255, 255, 0);">
    
    <main class="form-signin py-5">
      <div class="container">
        <div class="card">
          <form>
            <img class="logoicon mb-4" src="../../../../assets/images/logo.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Forgot Password?</h1>
            <p class="mt-2" style="font-size: 15px;">We'll send a recovery link to your email</p>
        
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput" style="color: black;">Enter Email address</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
          </form>
       </div>
      </div>
    </main>
    </section>
  </body>